<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OC Sample - Blog</title>
    <style>
        @import url(../oc-layout.css);
        @import url(../oc-guideline.css);
        @import url(../oc-misc.css);
        @import url(../bootstrap-icons/font/bootstrap-icons.min.css);

        .gradient-background {
            background-image: url(./img/black-marble.jpg);
            background-size: 180% 180%;
            animation: gradient-animation 60s ease infinite;
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .oc-area>* {
            background-color: transparent;
            border: none;
        }

        .nav-btn {
            border: 1px solid #979179;
            cursor: pointer;
        }

        .nav-btn:hover {
            border: 1px solid white;
        }
    </style>
</head>

<body class="oc-bg-c90">
    <header>
        <div class="oc-bg-c0 oc-p-2"> </div>
        <div class="oc-area" style="height: 290px;">
            <div class="oc-area gradient-background" style="width: 100%; height: 100%;">
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1></h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>S</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>H</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>A</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>R</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>E</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1><i class="bi bi-x"></i></h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>B</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>L</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>O</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1>G</h1>
                </div>
                <div class="oc-1 oc-p-2 oc-center oc-middle oc-text-c100" style="background-color: rgba(0,0,0,.3)">
                    <h1></h1>
                </div>
            </div>
        </div>
        <nav class="oc-area oc-bg-c10 oc-text-c100 oc-p-2 oc-center oc-fs-12">
            <div class="oc-1 oc-center"></div>
            <div class="oc-10 oc-area">
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Technology</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Design</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Culture</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Business</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Politics</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Opinion</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Science</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Health</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Style</div>
                <div class="oc-sm-6 oc-md-6 oc-center nav-btn">Travel</div>
            </div>
            <div class="oc-1 oc-center"></div>
        </nav>
        <div class="oc-bg-c60 oc-p-2"> </div>
    </header>
    <main>
        <div class="oc-area oc-area-limit oc-text-c100 oc-p-2 oc-center oc-fs-12 oc-pt-32">
            <div class="oc-text-other3">> power by Open CSS Library</div>
        </div>
        <div class="oc-area oc-area-limit oc-text-c100 oc-p-2 oc-center oc-fs-12 oc-pt-32">
            <div class="oc-sm-12 oc-md-6 oc-lg-9">
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6><i class="bi bi-lightning-fill"></i> Hot News <span class="oc-fs-10"> -
                                    Technology</span></h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book.
                        </div>
                        <div class="oc-mt-8 oc-fw-bolder">
                            read more ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-sm-12 oc-md-6 oc-lg-3">
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6>Profile</h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            <img class="oc-float-left oc-mr-8" src="./img/author.jpg" style="width: 150px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but
                            also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                        <hr class="oc-my-16">
                        <div class="oc-area oc-mt-8 oc-right">
                            <div><i class="bi bi-facebook oc-fs-18"></i></div>
                            <div><i class="bi bi-instagram oc-fs-18"></i></div>
                            <div><i class="bi bi-twitter-x oc-fs-18"></i></div>
                            <div><i class="bi bi-youtube oc-fs-18"></i></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="oc-bd-1 oc-bdb-3 oc-bd-other3 oc-bd-radius-6 oc-mb-4">
                    <div class="oc-text-other3 oc-p-16 oc-bd-radius-6">
                        <div>
                            <h6>Archives</h6>
                        </div>
                        <hr class="oc-my-8">
                        <div>
                            <div>March 2023</div>
                            <div>February 2023</div>
                            <div>January 2023</div>
                            <div>December 2023</div>
                            <div>November 2023</div>
                            <div>October 2023</div>
                            <div>September 2023</div>
                            <div>August 2023</div>
                            <div>July 2023</div>
                            <div>June 2023</div>
                            <div>May 2023</div>
                            <div>April 2023</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="oc-bg-c10 oc-text-c100 oc-p-2 oc-fs-12 oc-mt-40">
            <div class="oc-bg-other3 oc-p-2"> </div>
            <div class="oc-area oc-area-limit oc-center oc-middle" style="height: 80px;">
                Blog Design by William77. 2024
            </div>
        </div>
    </footer>
</body>

</html>